.Story{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.Story-Detail{
    width: 50%;
    justify-content: center;
}

.Story-Img{
    width: 50%;
}

.Story-Img img {
    width: 100%;
    height: 70vh;
}
.Heading {
    font-size: 4em;
    color: rgba(235, 191, 133, 0.801);
    
}