.Navbar {
    margin: 0 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1; */
    
}




.nav-links ul{
    display: flex;
    flex-wrap: wrap;
}
.nav-links li {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 480px) {
    .nav-links li{
        width: 100%;    
        text-align: center;
        margin-top: 5px;
       
    }
    .nav-links li:hover{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #e4e3e3;
    }
  }