.Features {
    display:  flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    position: absolute;
    right: 6%;
    top: 40%;

}

.Features-Box{
    text-align: center;
    align-items: center;
    height: 180px;
    width: 150px;
    background: rgba(7, 7, 7, 0.3) ;
    margin-top: 14px;
    color: rgba(235, 191, 133, 0.801);
    /* display: flex; */
    /* justify-content: space-evenly; */
    padding-top: 50px;
}
.Features-Box:hover{
    background: rgba(7, 7, 7, 0.6) ;
}
i {
    font-size: 2em;
    

}